<div class="row">
	<div style="height:auto;width:100%">
		<form>
			<table ng-show="!filtro.exibeFiltro">
				<tr>
					<td valign="top">
						<button type="button" style="margin-bottom:5px;height:29px" class="btn btn-default btn-xs" 
								ng-click="toggleFiltros()" ng-if="ferramentaPesquisa">
							<span class="glyphicon glyphicon-filter"></span> Filters
						</button>
					</td>
					<td width="20px"></td>
					<td width="260px" valign="top">
						<input	type="text" uppercase focus="true" id="filtroBasico" class="form-control input-transparent" 
								ng-model="filtro.filtroBasico" ng-show="!filtro.exibeFiltro" ng-change="alterarFiltroBasico()"
								style="font-size:9px; height:29px">
					</td>
					<td width="20px"></td>
					<td valign="top">
						<button ng-show="!filtro.exibeFiltro" type="submit" style="margin-bottom:5px;height:29px" class="btn btn-primary btn-xs" 
								ng-click="pesquisar()">Search
						</button>
					</td>
				</tr>
			</table>
			<div id="filtro" ng-show="filtro.exibeFiltro">				
				<section style="background: rgba(15, 43, 89, 0.2 );">
					<br />

					<ng-include src="templateAvancado"></ng-include>
					
					<br />
					<table>
						<tr>
							<td width="20px"></td>
							<td valign="top" style="padding-top:10px;"><button class="btn btn-primary" type="submit" ng-click="pesquisar()">Search</button></td>
							<td width="20px"></td>
							<td valign="top" style="padding-top:10px;"><button class="btn btn-default" type="submit" ng-click="limpar()">Cleanup</button></td>
							<td width="50px"></td>
							<td valign="top" style="padding-top:10px;"><button class="btn btn-default" type="submit" ng-click="toggleFiltros()">Close filters</button></td>
						</tr>
					</table>
					<br />
				</section>
			</div>
		</form>
	</div>
</div>