@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="title">Building Box Software Company</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@Styles.Render("~/bundles/css")
	@Scripts.Render("~/bundles/scripts")
</head>
<body>
	
	<div class="landing">
		<div class="container">
			<header class="page-header">
				<div class="navbar">
					<div class="logo pull-left">
						<br />
						<img src='../../images/logoBig.png' height="383px" />
					</div>
					<ul class="navbar-buttons pull-right">
						<li>
							<a href="videos.html" class="btn btn-sm btn-primary">Preview&nbsp;<i class="fa fa-arrow-right"></i></a>
						</li>
						<li>
							<a href="signUp.html" class="btn btn-sm btn-success">Sign-up!</a>
						</li>
					</ul>
				</div>
			</header>
		</div>
		
		<div id="about" class="widget widget-white widget-about">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
						<br />
						<h2><strong>Turn key, starting software solutions!</strong></h2>
						<p>
							A next generation <strong>software kit</strong> ready to give your team the visibility and tools to deliver great solutions.
						</p>
						<br />
						<table>
							<tr>
								<td valign="top"> 
									<div style="padding-top:28px">
										<img src='../../images/wrench.png' height="87px" />
									</div>
								</td>
								<td width="20px"></td>
								<td width="240px">
									<table class="table table-hover">
										<tr>
											<td>
												<span style="color:black">Exclusive private network</span>
											</td>
										</tr>
										<tr>
											<td>
												<span style="color:black">No user limitations</span>
											</td>
										</tr>
										<tr>
											<td>
												<span style="color:black">Monthly subscription</span>
											</td>
										</tr>
										<tr>
											<td>
												<span style="color:black">Scalable archictecture</span>
											</td>
										</tr>
									</table>
								</td>
								<td width="80px"></td>
								<td valign="top">
									<div style="padding-top:28px">
										<img src='../../images/wand.png' height="87px" />
									</div>
								</td>
								<td width="20px"></td>
								<td width="240px">
									<table class="table table-hover">
										<tr>
											<td>
												<span style="color:black">Unique source code branch for you</span>
											</td>
										</tr>										
										<tr>
											<td>
												<span style="color:black">No limitations in customization</span>
											</td>
										</tr>
										<tr>
											<td>
												<span style="color:black">Affordable development kits</span>
											</td>
										</tr>
										<tr>
											<td>
												<span style="color:black">Dedicated servers only!</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br />
					</div>
				</div>

			</div>
		</div>

		<br />
		<br />
		<br />

		<div id="about" class="widget widget-white widget-about">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
						<br />
						<h2><strong>About Light Blue</strong></h2>
						<p>
							<strong>Light Blue</strong> - is a next generation dashboard template. Flat design and transparency - the
							design that the world haven't seen before Light Blue.
						</p>
						<div class="row features">
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-danger">
													<i class="fa fa-bold"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>Bootstrap 3</h4>
											<p>
												Light Blue comes with built-in Twitter Bootstrap 3 support.
												Easy to design your next web app.
											</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-warning">
													<i class="fa fa-magic"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>Unique design</h4>
											<p>
												Transparent widgets and gradient background - have you seen something like this
												before?
											</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-success">
													<i class="fa fa-wrench"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>Developer-friendly</h4>
											<p>
												Simple, intuitive and easily maintainable code.
											</p>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="row features">
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-primary">
													<i class="fa fa-superscript"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>White & Transparent</h4>
											<p>
												Two styles each having two background options.
											</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-lime">
													<i class="fa fa-check"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>Web applications</h4>
											<p>
												LB itself is a web app. Plus there is an Email -
												ready-to-use Backbone application.
											</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-sm-4">
								<section class="feature">
									<div class="row">
										<div class="col-xs-4">
											<p>
												<span class="icon background-info">
													<i class="fa fa-css3"></i>
												</span>
											</p>
										</div>
										<div class="col-xs-8">
											<h4>Sass-powered</h4>
											<p>
												Variables, mixins, includes - things that
												make Light Blue really easy to customize.
											</p>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>