@{
	// Build version
	var assembly = System.Reflection.Assembly.GetAssembly(typeof(Application));
	var version = assembly.GetName().Version.ToString(3);
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="title">Building Box Software Company</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@Styles.Render("~/bundles/css")
	@Scripts.Render("~/bundles/scripts")
</head>
<body>	
	<div>				
		<div align="center" ng-controller="HomeController">
			<br />
			<a ui-sref="home" class="btn btn-sm {{btnHomeStyle}}" style="color:black">Home</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="customization" class="btn btn-sm {{btnCustomStyle}}" style="color:black">Customizations</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="features" class="btn btn-sm {{btnFeatureStyle}}" style="color:black">Features</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="simulation" class="btn btn-sm {{btnSimStyle}}" style="color:black">Simulation</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="videos" class="btn btn-sm {{btnVideoStyle}}" style="color:black">Videos</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="about" class="btn btn-sm {{btnAboutStyle}}" style="color:black">About</a>&nbsp;&nbsp;&nbsp;
			<a ui-sref="signUp" class="btn btn-sm btn-primary" style="color:white">Sign-up or register &nbsp;<i class="fa fa-arrow-right"></i></a>&nbsp;&nbsp;&nbsp;
			<br />
			<br />
		</div> 
		<div align="center">
			<div class="animated fadeInLeftBig">
				<img src='../../images/logoBig.png' />
			</div>
		</div>		
		<div id="about" class="widget widget-white">
			<div align="center">
				<div id="ui-view" style="width:100%" ui-view></div>
			</div>
		</div>		
		@Scripts.Render("~/bundles/app")
		<div align="center">
			<br />
			<h3 style="color:white"> Building Box @@ 2017</h3>
		</div>		
	</div>
</body>
</html>