<table width="100%">
	<tr>
		<td width="35px"></td>
		<td>
			<br />
			<ng-logo> </ng-logo>
			<section class="widgetForm" style="width:925px; height:100%">
				<legend class="legendTop">
					<table><tr height="12px"><td> </td></tr></table>
					<table style="color:white; width:100%">
						<tr>
							<td width="20px"></td>
							<td>
								Meeting <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
							</td>
							<td width="20px"></td>
						</tr>
						<tr height="12px"></tr>
					</table>
				</legend>
				<div class="divWebForm">
					<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
						<tab heading="Data">
							<div style="width:100%;min-height:400px;background:rgba(15, 43, 89, 0.25);">
								<table>
									<thead>
										<tr>
											<th width="30px"></th>
											<th width="140px"></th>
											<th width="20px"></th>
											<th width="450px"></th>
											<th width="20px"></th>
										</tr>
									</thead>
									<tr height="24px"></tr>									
									<tr height="40px">
										<td></td>
										<td>
											<b>Desired GMT</b>
										</td>
										<td>
											<button class="btn btn-xs btn-danger" ng-show="fkGMT_fail">!</button>
										</td>
										<td>
											<input type="hidden" style="width:100%" ui-select2="selectGMT" ng-model="viewModel.fkGMT" />
										</td>
										<td></td>
									</tr>
									
									<tr height="32px"></tr>
								</table>
							</div>
						</tab>
					</tabset>
					<br />
					<br />
					<table>
						<tr>
							<td><button class="btn btn-default" ng-click="list()">Cancel</button></td>
							<td width="34px"></td>
							<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
						</tr>
					</table>
					<br />
					<br />
				</div>
			</section>
		</td>
	</tr>
</table>