<div class="table-pagination">
	<table style="color:white;font-size:13px">
		<tr height="52px">
			<td>
				Showing records <b>{{itemInicial}}</b> to <b>{{itemFinal}}</b> of {{total}} itens
			</td>
			<td width="50px;" valign="middle"></td>	
			<td valign="middle">
				Display &nbsp;&nbsp;
				<select id="itensporpagina" name="itensporpagina" ng-model="itensporpagina" style="color:black">
					<option value="5">5</option>
					<option value="10">10</option>
					<option selected value="15">15</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				&nbsp;&nbsp;
				itens
			</td>	
			<td width="50px;"  valign="middle"></td>	
			<td  valign="middle">
				<div class="table-pagination__index-list">
					<ul class="pagination no-margin">
						<li class="btn btn-xs btn-default" ng-class="prevPageDisabled()" ng-click="firstPage()"><<</li>&nbsp;
						<li class="btn btn-xs btn-default" ng-class="prevPageDisabled()" ng-click="prevPage()"><</li>&nbsp;
						
						<li class="btn btn-xs btn-default"
							ng-class="isCurrentPage(n)" 
							ng-repeat="n in range()" 
							ng-click="setPage(n)" 
							ng-show="total>n*itensporpagina"> {{n+1}} </li>&nbsp;

						<li class="btn btn-xs btn-default" ng-class="nextPageDisabled()" ng-click="nextPage()">></li>&nbsp;
						<li class="btn btn-xs btn-default" ng-class="nextPageDisabled()" ng-click="lastPage()">>></li>&nbsp;
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>