<table width="100%">
	<tr>
		<td width="35px"></td>
		<td>
			<br />
			<table>
				<tr>
					<td>
						<img style="max-height:90px" src='../../images/logoRegister.png' /><br />
					</td>
					<td width="15px"></td>
					<td>
						<img style="max-height:80px" src='../../images/logoLetras.png' />
					</td>
					<td width="35px"></td>
					<td>
						<h3>Welcome, <b>dba</b></h3>
					</td>
				</tr>
			</table>
			<section class="widgetForm" style="width:925px; height:100%">
				<legend class="legendTop">
					<table><tr height="12px"><td> </td></tr></table>
					<table style="color:white; width:100%">
						<tr>
							<td width="20px"></td>
							<td>
								Ticket <i class="fa fa-spinner fa-spin" ng-show="loading"></i>									
							</td>
							<td width="20px"></td>
						</tr>
						<tr height="12px"></tr>
					</table>
				</legend>
				<div class="divWebForm">
					<tabset class="tabs-left" style="min-height:320px;font-size:13px;width:850px">
						<tab heading="Data">
							<div style="width:100%;min-height:490px;background:rgba(15, 43, 89, 0.25);">
								<table>
									<thead>
										<tr>
											<th width="20px"></th>
											<th width="140px"></th>
											<th width="20px"></th>
											<th width="450px"></th>
											<th width="20px"></th>
										</tr>
									</thead>
									<tr height="24px"></tr>
									<tr height="40px" ng-show="viewModel.id > 0"> 
										<td></td>
										<td>
											Protocol
										</td>
										<td>
											
										</td>
										<td>
											<b>{{viewModel.stProtocol}}</b>
										</td>
										<td></td>
									</tr>
									<tr height="40px" ng-show="viewModel.id > 0">
										<td></td>
										<td>
											Ticket State
										</td>
										<td></td>
										<td>
											<input type="hidden" name="user" style="width:100%" ui-select2="selectTicketState" disabled="disabled" ng-model="viewModel.fkTicketState" />
										</td>
										<td></td>
									</tr>
									<tr height="40px" ng-show="viewModel.id > 0">
										<td></td>
										<td>
											Creation Date
										</td>
										<td></td>
										<td>
											{{viewModel.sdtCreation}}
										</td>
										<td></td>
									</tr>
									<tr height="40px" ng-show="viewModel.id > 0">
										<td></td>
										<td>
											Last Update
										</td>
										<td></td>
										<td>
											{{viewModel.sdtLog}}
										</td>
										<td></td>
									</tr>
									<tr height="40px">
										<td></td>
										<td>
											Title
										</td>
										<td>
											<button class="btn btn-xs btn-danger" ng-show="stTitle_fail">!</button>
										</td>
										<td>
											<input type="text" class="form-control input-transparent" maxlength="100" ng-model="viewModel.stTitle">
										</td>
										<td></td>
									</tr>
									<tr height="40px">
										<td></td>
										<td>
											Description
										</td>
										<td>
											<button class="btn btn-xs btn-danger" ng-show="stDescription_fail">!</button>
										</td>
										<td>
											<textarea rows="6" type="text" class="form-control input-transparent" maxlength="100" ng-model="viewModel.stDescription"></textarea>
										</td>
										<td></td>
									</tr>
									<tr height="32px"></tr>
									<tr height="32px"></tr>
								</table>
							</div>
						</tab>
						<tab heading="Attendance" disabled="true" ng-if="viewModel.id == undefined"></tab>
						<tab heading="Attendance" ng-if="viewModel.id != undefined">
							<div style="width:100%;min-height:490px;background:rgba(15, 43, 89, 0.25);">
								<table width="100%">
									<tr height="12px"></tr>
									<tr>
										<td width="20px"></td>
										<td>
											<legend style="color:aliceblue">
												Ticket Attendance
											</legend>

											<table>
												<tr>
													<td>
														<table>
															<tr height="42px">
																<td width="120px">
																	Current State
																</td>
																<td width="20px"></td>
																<td width="450px">
																	<input type="hidden" name="user" style="width:100%" ui-select2="selectTicketState" disabled="true" ng-model="viewModel.fkTicketState" />
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<table>
															<tr height="42px">
																<td width="120px">
																	New State
																</td>
																<td width="20px">
																	<button class="btn btn-xs btn-danger" ng-show="fkNewState_fail">!</button>
																</td>
																<td width="450px">
																	<input type="hidden" name="user" style="width:100%" ui-select2="selectTicketState" ng-model="newAttendance.fkNewState" />
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr height="4px"></tr>
												<tr>
													<td>
														<table>
															<tr height="42px">
																<td width="120px">
																	Message
																</td>
																<td width="20px">
																	<button class="btn btn-xs btn-danger" ng-show="stAtdMsg_fail">!</button>
																</td>
																<td width="450px">
																	<textarea rows="1" type="text" class="form-control input-transparent" ng-model="newAttendance.stMessage" maxlength="200"></textarea>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<br />
											<button class="btn btn-primary" ng-click="saveNewAttendance()">Save </button>
											<br />
											<br />

											<div ng-show="viewModel.attendances.length > 0">
												<br />
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th width="90px">User</th>
															<th width="140px">Date</th>
															<th width="180px">State Change</th>
															<th>Message</th>
														</tr>
													</thead>
													<tr data-ng-repeat="mdl in viewModel.attendances">
														<td style="color:black">{{ mdl.sfkUser }}</td>
														<td style="color:black">{{ mdl.sdtLog }}</td>
														<td style="color:black">{{ mdl.sfkOldState }} to {{ mdl.sfkNewState }}</td>
														<td style="color:black">{{ mdl.stMessage }}</td>
													</tr>
												</table>
											</div>
										</td>
										<td width="20px"></td>
									</tr>
								</table>
							</div>
						</tab>
						<tab heading="Messages" disabled="true" ng-if="viewModel.id == undefined"></tab>
						<tab heading="Messages [{{viewModel.messages.length}}]" ng-if="viewModel.id != undefined">
							<div style="width:100%;min-height:490px;background:rgba(15, 43, 89, 0.25);">
								<table width="100%">
									<tr height="12px"></tr>
									<tr>
										<td width="20px"></td>
										<td>
											<legend style="color:aliceblue">
												Ticket Messages
												<button class="btn btn-info btn-xs pull-right" ng-click="addNewMessage()"><i class="fa fa-plus"> </i>  Add new </button>
											</legend>
											<div ng-show="viewModel.messages.length == 0 && addMessage == false">
												<br />
												<div class="btn btn-info btn-lg">No records found.</div>
											</div>
											<div ng-if="addMessage == true">
												<table>
													<tr height="16px"></tr>
													<tr>
														<td>
															<table>
																<tr height="42px">
																	<td width="120px">
																		New message
																	</td>
																	<td width="20px">
																		<button class="btn btn-xs btn-danger" ng-show="stMsg_fail">!</button>
																	</td>
																	<td width="450px">
																		<textarea rows="6" type="text" class="form-control input-transparent" ng-model="newMessage.stMessage" maxlength="200"></textarea>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												<br />
												<button class="btn btn-primary" ng-click="saveNewMessage()">Save </button>
												<br />
												<br />
											</div>
											<div ng-show="viewModel.messages.length > 0">
												<br />
												<table class="table table-hover" style="width:100%">
													<thead>
														<tr>
															<th width="90px">User</th>
															<th width="140px">Date</th>
															<th>Message</th>
														</tr>
													</thead>
													<tr data-ng-repeat="mdl in viewModel.messages">
														<td style="color:black">{{ mdl.sfkUser }}</td>
														<td style="color:black">{{ mdl.sdtLog }}</td>
														<td style="color:black">{{ mdl.stMessage }}</td>
													</tr>
												</table>
											</div>
										</td>
										<td width="20px"></td>
									</tr>
								</table>
							</div>
						</tab>
					</tabset>
					<br />
					<br />
					<table>
						<tr>
							<td><button class="btn btn-default" ng-click="list()">Cancel</button></td>
							<td width="34px"></td>
							<td><button class="btn btn-primary" ng-click="save()">Save</button></td>
						</tr>
					</table>
					<br />
					<br />
				</div>
			</section>			
		</td>
	</tr>
</table>